#toolbar{
    background: rgba(8, 7, 7, 0.781);
    }
    #nome{
        text-align: center;
    }
    #card{
        background-color:white ;
        border-radius: 8px;
        
    }
    #cardTotal{
        border-radius: 8px;
        display: flex;
 
  justify-content:right;
 
    }
    #total{
        color:white
    }
    #buttonRemote{
        display: flex;
        align-items: flex-end;
    }